{% extends 'base.html' %}

{% block content %}

    {% if parts %}
        You have parts that need updating.
        Would you like to update them now? 
        <button id="update-parts" type="button">Yes</button>
       
        <ul class="part-list">
            {% for part in parts %}
                <li><span data-vendor="{{part.vendor.name}}">{{part.vendor_sku}}</span> </li>
            {% endfor %}
        </ul>
    {% else %}
        All your parts are currently up to date!
    {% endif %}

    {% csrf_token %}

    <script>
        $('#update-parts').on('click', function() {
            var parts = [];
            $('.part-list li').each(function(i, li) {
                parts.push({'vendor': $(li).find('span').data('vendor'), 'sku': $(li).find('span').text()});
            });
            
            console.log(parts);
            var data = {'parts': JSON.stringify(parts), 'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()};
            $.post("{% url 'octipart-update' %}", data, function(resp) {
                $.each(resp.errors, function() {
                    $('span[data-vendor="'+this['vendor']+'"][text="'+this['sku']+'"]').append(this['error']);
                });


            });
        });
    </script>
{% endblock %}
