{% extends 'base.html' %}

{% block additionalHeaders %}
    <script type="text/javascript" src="{{STATIC_URL}}js/octopart.js"></script>
{% endblock %}

{% block content %}
<h3>Octopart Update</h3>

    {% if parts %}
        <span id="update-prompt">
            You have parts that need updating. Would you like to update them now? 
            <button class="btn btn-default" id="update-parts" type="button">Yes</button>
        </span> 
        <span id="spinner" style="margin-left: 2em;"></span>
        <br/>
        <span id="update-msg"></span>

        <ul class="part-list">
            {% for part in parts %}
                <li>
                    <span data-vendor="{{part.vendor.name}}" value="{{part.vendor_sku}}">{{part.vendor_sku}}</span> 
                    <span class="error"></span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        All your parts are currently up to date!
    {% endif %}

    {% csrf_token %}

    <script>
        $('#update-parts').on('click', function(){ $.fn.updateParts() });
    </script>
{% endblock %}
